@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #2D0A1B;
}

.start-btn , .info-box, .quiz-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-btn button {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color:#2D0A1B;
    background-color: #B83253;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: all 0.5s;
    box-shadow: 0px 4px 25px #000;
    cursor: pointer;
}

.start-btn button:hover {
    transform: translateY(-2.5px);
}

.start-btn button:active {
    transform: translateY(1px);
}

.info-box, .quiz-box {
    width: 650px;
    background-color: #FBA490;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 25px #000;
}

.info-title, .title{
    text-transform: uppercase;
    width: 65%;
    padding: 30px 25px;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
}

.info-list {
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 500;
}

.info {
    margin: 7.5px 0;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12.5px;
    margin: 10px;
    margin-bottom: 15px;
}

.buttons button {
    font-size: 17.5px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color:#2D0A1B;
    background-color: transparent;
    padding: 5px 25px;
    margin: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
}

.buttons .quit {
    border: 2px solid #B83253;
}

.buttons .restart {
    border: 2px solid #B83253;
    background-color: #B83253;
}

.buttons .exit {
    border: 2px solid #B83253;
}

.buttons .next {
    border: 2px solid #B83253;
    background-color: #B83253;
}

.buttons button:hover {
    transform: translateY(-2.5px);
}

.buttons button:active {
    transform: translateY(1px);
}

.quiz-box header {
    display: flex;
    position: relative;
    z-index: 100;
    margin-bottom: 25px;
}

.quiz-box footer {
    display: flex;
    justify-content: space-between;
}

.timer {
    padding: 40px 25px;
    font-size: 17.5px;
    font-weight: 600;
    text-decoration: none;
    color:#2D0A1B;
    outline: none;
}

.timer span {
    border-radius: 5px;
    border: 6.5px solid #B83253;
    background-color: #B83253;
}

.timer span span {
    border: 1px solid #FBA490;
    background-color: #FBA490;
}

.total-que span{
    text-transform: uppercase;
    display: flex;
    padding: 25px 30px;
    font-size: 20px;
    font-weight: 600;
}

.que-text {
    font-size: 30px;
    font-weight: 600;
    padding: 0px 40px;
    letter-spacing: 1.5px;
}

.option-list {
    font-size: 20px;
    padding: 25px 40px;
    display: block;
}

.option {
    display: flex;
    background-color: #ea849e;
    border: 1px solid #B83253;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.option:hover {
    background-color: #d25c7a;
}

.icon {
    height: 24px;
    width: 24px;
    font-size: 16.5px;
    line-height: 24px;
    border: 2px solid #B83253;
    border-radius: 50%;
    text-align: center;
}

.tick {
    color: #23903c;
    border-color: #23903c;
    background: #23903c30;
}

.cross {
    color: #a42834;
    border-color: #a42834;
    background: #a4283430;
}

.hidden {
    display: none;
}