@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #2D0A1B;
}

.start-btn , .info-box, .quiz-box, .result-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-btn button {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color:#2D0A1B;
    background-color: #B83253;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: all 0.5s;
    box-shadow: 0px 4px 25px #000;
    cursor: pointer;
}

.start-btn button:hover {
    transform: translateY(-2.5px);
}

.start-btn button:active {
    transform: translateY(1px);
}

.info-box, .quiz-box, .result-box {
    width: 650px;
    background-color: #FBA490;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 4px 25px #000;
}

.info-title, .title, .complete-text{
    text-transform: uppercase;
    width: 65%;
    padding: 30px 25px;
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: 600;
}

.info-list {
    padding: 15px 40px;
    font-size: 20px;
    font-weight: 500;
}

.info {
    margin: 7.5px 0;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12.5px;
    margin: 10px;
    margin-bottom: 15px;
}

.buttons button {
    font-size: 17.5px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color:#2D0A1B;
    background-color: transparent;
    padding: 5px 25px;
    margin: 5px;
    outline: none;
    border: none;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: all 0.5s;
    cursor: pointer;
}

.buttons .quit {
    border: 2px solid #B83253;
}

.buttons .restart {
    border: 2px solid #B83253;
    background-color: #B83253;
}

.buttons .exit {
    border: 2px solid #B83253;
}

.buttons .next {
    border: 2px solid #B83253;
    background-color: #B83253;
}

.buttons .end {
    border: 2px solid #B83253;
}

.buttons .replay {
    border: 2px solid #B83253;
    background-color: #B83253;
}

.buttons button:hover {
    transform: translateY(-2.5px);
}

.buttons button:active {
    transform: translateY(1px);
}

.quiz-box header {
    display: flex;
    position: relative;
    z-index: 100;
    margin-bottom: 30px;
}

.quiz-box footer {
    display: flex;
    justify-content: space-between;
}

.timer {
    padding: 40px 25px;
    font-size: 17.5px;
    font-weight: 600;
    text-decoration: none;
    color:#2D0A1B;
    outline: none;
}

.timer span {
    border-radius: 5px;
    border: 6.5px solid #B83253;
    background-color: #B83253;
}

.timer span span {
    border: 1px solid #FBA490;
    background-color: #FBA490;
}

.total-que span{
    text-transform: uppercase;
    display: flex;
    padding: 25px 30px;
    font-size: 20px;
    font-weight: 600;
}

.que-text , .score-text{
    font-size: 30px;
    font-weight: 600;
    padding: 0px 40px;
    letter-spacing: 1.5px;
}

.option-list {
    font-size: 20px;
    padding: 25px 40px;
    display: block;
}

.option {
    display: flex;
    background-color: #ea849e;
    border: 1px solid #B83253;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.correct { 
    border-color: #23903c;
    background: #23903c30;
}

.incorrect {
    border-color: #a42834;
    background: #a4283430;
}

.option:hover {
    background-color: #d25c7a;
}

.final-icon {
    font-size: 45px;
    line-height: 25px;
    display: block;
    text-align: center;
    background-image: linear-gradient(to right bottom, #2D0A1B, #a42834);
    background-clip: border-box;
    -webkit-background-clip: text;
    color: transparent;
    margin: 1.5rem;
}

.complete-text {
    width: 100%;
    padding: 5px 25px;
    justify-content: center;
}

.score-text {
    display: flex;
    font-size: 25px;
    font-weight: 500;
    padding: 30px 25px;
    letter-spacing: 2.5px;
    justify-content: center;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 700px) {

    .start-btn , .info-box, .quiz-box, .result-box{
        top: 45%;
    }

    .start-btn button {
        font-size: 30px;
        padding: 15px 15px;
    }

    .info-box, .quiz-box, .result-box {
        width: 92.5%;
        padding: 2.5px;
    }
    
    .info-title, .title, .complete-text{
        width: 62.5%;
        padding: 15px 15px;
        font-size: 23.5px;
    }

    .info-title, .complete-text {
        width: 100%;
    }
    
    .info-list {
        padding: 10px 17.5px;
        font-size: 18px;
    }
    
    .info {
        margin: 5px 0;
    }

    .buttons {
        padding: 0 10px;
        margin: 5px;
    }
    
    .buttons button {
        padding: 3px 17.5px;
        margin: 2.5px;
    }
    
    .quiz-box footer {
        display: block;
    }

    .timer {
        padding: 17.5px 0px;
        font-size: 15px;
    }

    .timer span {
        border-radius: 3px;
        border: 4px solid #B83253;
    }

    .total-que span{
        padding: 10px 0px;
        font-size: 17.5px;
        justify-content: center;
    }
    
    .que-text , .score-text{
        font-size: 25px;
        padding: 0px 30px;
    }
    
    .option-list {
        padding: 25px 20px;
    }
    
    .option {
        padding: 5px 15px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .complete-text {
        padding: 0px 20px;
    }
    
    .score-text {
        font-size: 25px;
        padding: 25px 25px;
        letter-spacing: 1.5px;
    }
    
    
}

@media only screen and (max-width: 400px) {
    .start-btn , .info-box, .quiz-box, .result-box{
        top: 47.5%;
    }

    .start-btn button {
        font-size: 25px;
    }

    .info-title, .title, .complete-text{
        width: 57.5%;
        font-size: 21.25px;
    }

    .info-title, .complete-text {
        width: 100%;
    }

    .que-text, .score-text{
        font-size: 22.5px;
        padding: 0px 15px;
    }
    
    .option-list {
        padding: 25px 3px;
    }
    
    .option {
        padding: 5px 15px;
        margin-bottom: 10px;
    }

    .complete-text {
        padding: 0px 10px;
    }

    .score-text {
        font-size: 25px;
        padding: 25px 25px;
        letter-spacing: 1.5px;
    }
    
}

@media only screen and (max-width: 350px) {

    .info-title, .title, .complete-text{
        width: 50%;
        font-size: 20px;
    }

    .info-title, .complete-text {
        width: 100%;
    }

    .que-text , .score-text{
        font-size: 20px;
    }
    
    .option-list {
        font-size: 17px;
    }

    .total-que span{
        font-size: 15px;
    }

    .complete-text {
        padding: 0px 5px;
    }

    .score-text {
        font-size: 20px;
    }
}